.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #737272;
}
.buttons__icon {
  display: flex;
  align-items: center;
}
.icons {
  margin-left: 12px;
}
.icons > img {
  font-size: 21.25px;
}
.custom-text {
  display: flex;
  justify-content: center;
}
.text {
  color: #ffffff;
}
.text > h6 {
  font-size: 20px;
}
.custom-avatar {
  display: flex;
  justify-content: end;
}
.avatar > i {
  font-size: 33px;
  color: #ffffff;
}
.custom-sidebar{
    height: 90vh
}
.custom-sidebar > div{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}
.custom-sidebar > div > img{
    width: fit-content;
}
.custom-section{
    display: flex;
    align-items: center;
    background: #E5E5E5;
    width: 90vw;
    height: 91vh;
}
.custom-section-container{
    background-color: #ffffff;
    width: 80vw;
    height: 35vw;
}
