.leftMenu {
  background-color: #ffffff;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.leftMenu > button {
    outline: transparent;
    border: none;
    background-color: transparent;
}
.leftMenu > img {
  width: fit-content;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.leftMenu > button > img {
  width: 30px;
  height: 30px;
}
.leftMenu > img >button:hover {
  background-color: blue;
}
.custom_reject_button{
  background-color: #e43429;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 15px;
  margin: 30px 0 10px 0;
  min-width: 84px;
}

.custom_reject_button:hover{
  background-color: #243485;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 15px;
}
.custom_finalize_button{
  background: #318E11;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 15px;
}

.custom_finalize_button:hover{
  background-color: #243485;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 15px;
}





