.header {
  height: 9vh;
  display: flex;
  align-items: center;
  z-index: 1;
}
.header_bg_template {
  background: #243485;
}
.header_bg_document {
  background: #106419;
}
.header_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 0px;
}
.savee {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}


.head_btn {
  width: 40px;
  height: 100%;
}
.header_icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.right_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.header_icons > img,
svg {
  width: fit-content;
  color: #ffffff;
  /* margin-left: 33.9px; */
  margin-right: 20px;
  cursor: pointer;
}

.header_icons > img:hover {
  color: #f1f1f1;
}
.header_p > p {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  color: #ffffff;
}
.header_user > img {
  cursor: pointer;
}

#midSection_containerr {
  margin-left: 205px;
}

.page_btn {
  background: transparent;
  border: none;
}
.cursor_pointer {
  cursor: pointer;
}
.temp_doc{
  align-self: center;
  height: 30px;
}
/* .title-name {
  margin-top: 10px;
} */
