.header {
  height: 9vh;
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 0 1rem;
}
.header_bg_template {
  /* background: #243485; */
  background: #fff;
}
.header_bg_document {
  background: #106419;
}
.header_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 0px;
}
.head-bar {
  width: 3rem !important;
  height: 3rem !important;
  background-color: #e3eeff;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
}
.bar-menu {
  width: 14rem;
  top: 2rem;
  left: 4rem;
  box-shadow: 2px 2px 8px #9696968a;
  border-radius: 6px;
}
.savee {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.savee button {
  background-color: #3c61ea;
  font-weight: 600;
  outline: none;
}
.savee .share-btn {
  background-color: transparent;
  border: 1px solid #bababa4a;
  box-shadow: 1px 1px 2px #aeaeae58;
}
#saving-buttonn svg {
  margin-right: 0;
  margin-left: 8px;
}
.head_btn {
  width: 40px;
  height: 100%;
}
.header_icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  padding-left: 10px;
}

.right_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.header_icons > img,
svg {
  width: 1rem !important;
  height: 22px;
  color: #1c2b48;
  /* margin-left: 33.9px; */
  margin-right: 20px;
  cursor: pointer;
}

.header_icons > img:hover {
  color: #f1f1f1;
}
.header_p > p {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  color: #ffffff;
}
.header_user > img {
  cursor: pointer;
}

#midSection_containerr {
  margin-left: 205px;
}

.page_btn {
  background: transparent;
  border: none;
}
.cursor_pointer {
  cursor: pointer;
}
.temp_doc {
  display: flex;
  align-items: center;
  height: 25px;
}
.title-name {
  margin-left: 2rem;
  font-weight: 700;
}
.menu {
  opacity: 0;
  /* transform: translateY(-50px); */
  transition: opacity 0.2s ease-out;
}

.menu.show {
  opacity: 1;
  /* transform: translateY(0); */
}
