.midSection{
    display: flex;
    height: 327mm;
    align-items: center;
}
.midSection_container{
    background-color: #ffffff;
    width: 210mm;
    height: 297mm;
    position: relative;
 
}
/*
.midSection_container{
    background-color: #ffffff;
    width: 216mm;
    height: 297mm;
    position: relative;
}
.midSection_without_RightMenu_container{
    background-color: #ffffff;
    width: 210mm;
    height: 297mm;
    position: relative;
} */
